@import '../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(58, 52, 52, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  margin-left: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
  
}

.column {
  width: 100%;
  display: block;
}

.row {margin: 0 -5px;}

.App {
  width: 50%;
  margin: 10rem auto;
  height: 570px;
}

* {
  box-sizing: border-box;
}

p {
  color: black;
}

.text-info {
  text-align: right;
}

.container {
  background-color: blueviolet;
}